body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4b7ae4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 20px;
  margin-right: -8px;
  margin-bottom: 10px;
  width: 100.35%;
  height: 133px;
  margin-top: -8px;
}


.title-img {
  width: 145px;
  height: auto;
}

.title-text {
  display: flex;
  margin-top: -17px;
}

.search-div {
  margin-top: -7px;
  display: flex;
}

.close-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: -43px;
}

.close-btn {
  background-color: white;
  border: none;

}

.close-img:hover {
  background-color: rgba(183, 183, 183, 0.304);
  border-radius: 100%;

}

.close-img {
  margin-top: -43px;
}

li {
  list-style: none;
  color: white;
  font-family: sans-serif !important;
  font-size: 25px;
  margin-bottom: 15px;
}


.span-header {
  color: white;
  padding-right: 8px;
  font-size: 20px;
  font-family: sans-serif !important;
}

.btn-header {
  background-color: white;
  border: none;
  color: #4b7ae4;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif !important;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 6px;
  height: 40px;
  width: 80px;
}

.arrow-span {
  padding-right: 7px;
  color: white;
}

li {
  list-style: none;
  color: white;
  font-family: sans-serif !important;
  font-size: 25px;
  margin-bottom: 15px;
}

ul {
  margin-right: 45px;
  height: auto;
}

.items-container {
  display: flex;
  flex-direction: row;
}

.column-selected {
  height: 100%;
  padding-left: 45px;
}

.display-none {
  display: 'none';
}

.item-selected {
  border-bottom: 1px solid white;
  width: fit-content;
}

.widget-icon {
  display: flex;
  padding-left: 10px;
  justify-content: end;
  padding-top: 340px;
}

.divHeaderOfPermissions.with-border {
  border-bottom: 1px solid #ccc;
}

.li-columns.selected {
  border-bottom: 1px solid #ccc;
  width: fit-content;
}

.with-border {
  border-bottom: 1px solid #ccc;
}

.with-left-border {
  border-left: 1px solid #ccc;
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 5px;
  }

  .close-btn {
    margin-right: 0;
  }
}